.login {
  height: 100%;
  display: flex;

  .heading h2{
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 0.5rem;
    text-align: center;
}

.heading h3{
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    color: #666;
    margin-bottom: 1.5rem;
}

.heading span{
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.heading span:hover{
    color: #357ab8;
}

  .formContainer {
    flex: 3;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      input,select{
        padding: 20px;
        border: 1px solid gray;
        border-radius: 5px;
      }
      .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
      }
      
     
      
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      input:checked + .slider {
        background-color: #2196F3;
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
      
      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }
      button{
        padding: 20px;
        border-radius: 5px;
        border: none;
        // background-color: teal;
        color: white;
        font-weight: bold;
        cursor: pointer;

        &:disabled{
          background-color: #BED9D8;
          cursor: not-allowed;
        }
      }

   .open-modal-button{
    background-color: transparent;
   }

      a{
        font-size: 14px;
        color: gray;
        border-bottom: 1px solid gray;
        width: max-content;
      }
    }
  }

  .imgContainer {
    flex: 2;
    background-color: #fcf5f3;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
    }
  }
}
.ymsk{
  align-self: center;
}
.tt{
  width: auto;
}